/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F5EC;
    color: #544541;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    padding: 80px 0;
    text-align: center;
}

/* Navigation Styles */
.navbar {
    background-color: #EFE7DA;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    color: #544541;
    margin: 0;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: #544541;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #8A6851;
}

/* Carousel Styles */
.carousel {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
}

.project {
    flex: 0 0 auto;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #C1B6A4;
    border-radius: 8px;
    text-align: center;
    scroll-snap-align: center;
}

.project img {
    max-width: 100%;
    border-radius: 8px;
}

.project h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.project p {
    font-size: 1.1rem;
}

/* Contact Icons */
.contact-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-icons li {
    margin: 0 10px;
    font-size: 2rem;
}

.contact-icons li a {
    color: #544541;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-icons li a:hover {
    color: #8A6851;
}

/* Footer Styles */
footer {
    background-color: #EFE7DA;
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    color: #544541;
}
